@font-face {
  font-family: 'WorkSans-Light';
  src: url('/src/assets/fonts/Work_Sans/static/WorkSans-Light.ttf');
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url('/src/assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('/src/assets/fonts/Work_Sans/static/WorkSans-Bold.ttf');
}

@font-face {
  font-family: 'HachiMaruPop-Regular';
  src: url('/src/assets/fonts/Hachi_Maru_Pop/HachiMaruPop-Regular.ttf');
}
