.not-found {
  @include set-position(fixed, $height: 100%, $width: 100%, $left: 0, $top: 0);
  @include flex(flex, $justify: center, $align: center);
}

.location-404,
.location-home {
  font-size: 8rem;
  font-weight: bolder;
  color: var(--main-bg--darker);
  text-shadow: -3px -1px 1px var(--shadow-top-color),
    -4px -2px 1px var(--shadow-bottom-color);
  text-align: center;
  @media screen and (max-width: 450px) {
    font-size: 4rem;
  }
}
